%%-*- mode: erlang -*-

{sub_dirs, ["rel", "deps", "include"]}.

%% rebar deps
{deps, [
    {jsx, "2.8.0"},
    {cowboy, "1.0.4"},
    {efrisby, {git, "git://github.com/FabioBatSilva/efrisby.git", {branch, "master"}}}
]}.

%% relx config
{relx, [
    {release, {myapi, "0.0.1"}, [myapi]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.

%% Misc
{clean_files, [".eunit", "ebin/*.beam", "test/*.beam"]}.

%% Erlang options
{erl_opts, [
    warn_export_all,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    warn_unused_import,
    warnings_as_errors,
    debug_info
]}.
